# Database connection string (SQLite file database for zero-setup demo, easily swapped with PostgreSQL)
DATABASE_URL="file:./dev.db"

# NextAuth configuration
AUTH_SECRET="schoolpay-super-secret-demo-key-at-least-32-chars-long"
NEXTAUTH_URL="http://localhost:3000"

# Application settings
NEXT_PUBLIC_APP_NAME="SchoolPay"
NEXT_PUBLIC_SCHOOL_NAME="Arohon Vidya Mandir"
NEXT_PUBLIC_APP_CURRENCY="INR"
