DATABASE_URL="PASTE_POOLED_NEON_URL_HERE"
DIRECT_URL="PASTE_DIRECT_NEON_URL_HERE"
AUTH_SECRET="schoolpay-super-secret-demo-key-at-least-32-chars-long"
NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_APP_NAME="SchoolPay"
NEXT_PUBLIC_SCHOOL_NAME="Arohon Vidya Mandir"
NEXT_PUBLIC_APP_CURRENCY="INR"
